@use 'css/reset.scss';

$font-family: "Smythe", serif;
$white: #fff;

body {
    font-family: $font-family;
    color: $white;
}

.container {
    max-width: 500px;
    margin: 0 auto;
}

.header__inner {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 600;
    .header__title {
        padding: 55px 0px 55px 45px;
        h1 {
            font-size: 40px;
            letter-spacing: 5px;
            padding-bottom: 10px;
        }
        p {
            font-size: 23px;
            letter-spacing: 3px;
        }
    }
}
